/* Choose ONE method to import Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: 'Inter', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Inter font to the body */
@layer base {
  html, body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, .font-bold, .text-4xl {
    font-family: 'Poppins', sans-serif;
  }
}